@media screen and (max-width: 870px) {

    .navMobileSection {
        display: flex;
    }

    .navMobileText {
        display: flex;
    }

    .headerSection {
        position: absolute;
        display: none;
    }

    .heroSection {
        display: block;
    }

    .heroImg {
        width: 100%;
        margin-top: 20px;
    }

    .featuresSection {
        width: 80%;
        margin: 0 auto;
    }


    .title h1 {
        margin-top: 30px;
    }

    .featuresImg {
        display: none;
    }

    .featuresFeature {
        margin-top: 30px;
    }

     .oprations {
        width: 80%;
    }
}