:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #444;
    font-weight: 300;
    line-height: 1.9;
    background-color: #f3f3f3;
    scroll-behavior: smooth;
}

  button{
        cursor: pointer; 
    }

hr {
    margin: 50px 0px;
    color: #444;
}


.btnGreen {
    background: var(--color-primary-darker);
    border: 2px solid var(--color-primary-darker);
    width: 8.5rem;
    font-size: 1.0rem;
    padding: 15px;
    border-radius: 25px;
    color: #fff;
}

.btnWhite {
    border: none;
    font-size: 1.2rem;
    color: var(--color-primary);
    display: block;
}

.hidden {
    display: none;
}


/****** NAV SECTION *****/

.navMobileSection {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.navMobileText {
    display: none;
    position: absolute;
    background-color: #39b385;
    width: 100%;
    height: 50%;
    top: 0;
    right: 0;
    transform: translateY(-350px);
}

.navMobileText ul {
    width: 90%;
    margin: 0 auto;
}

.mobileClose {
    font-size: 2rem;
    margin-left: 80%;
}

.navMobileText ul li a {
    display: block;
    margin-bottom: 25px;
    color: #444;
    font-size: 1.5rem;

}

.navMobile {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    filter: drop-shadow(1px 1px 2px black);

}

.navMobile span {
    font-size: 3rem;
}


.headerSection {
    position: fixed;
    width: 100%;
    background-color: #fff;
    filter: drop-shadow(1px 1px 5px black);
}

/* .headerText{
    border: 3px solid black;
} */

.headerTextLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.headerLogo img {
    height: 3.3rem;
    transition: all 0.3;
}


.headerText ul li a {
    font-size: 1.2rem;
    margin-right: 60px;
    color: #444;
}

.highlight {
    position: relative;
}

.highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
}

/***** HERO SCETION *****/
.heroSection {
    width: 90%;
    margin: 0 auto;
    padding-top: 110px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.heroText h1 {
    font-size: 4.2rem;
    line-height: 4.3rem;
}

.heroText h1 span {
    background: var(--color-primary-darker);
}

.heroText span {
    margin: 25px 0px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 0px;
}

.heroImg {
    width: 45%;
}


/***** FEATURES *****/

.featuresSection {
    width: 70%;
    margin: 0 auto;
}

.title {
    margin-top: 90px;
}

.title h1 {
    color: var(--color-primary);
    text-transform: uppercase;
}

.title h4 {
    font-size: 3rem;
    font-weight: 500;
    line-height: normal;
}

.features {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    /* color: #39b385; */
}

.featuresImg {
    width: 50%;
}

.featuresIcon svg {
    height: 5rem;
    width: 5rem;
    fill: var(--color-primary);
}

.featuresFeature p {
    line-height: 2rem;
}

.featuresHeader {
    font-size: 1.5rem;
    margin: 10px 0px;
}

.openAccount {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 3rem 4rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}


/***** OPERATIONS SECTION  *****/
.oprations {
    width: 70%;
    margin: 0 auto;
}

.oprations h1 {
    font-size: 1.2rem;
    color: #39b385;
}

.oprations p {
    font-size: 3.2rem;
    line-height: normal;
}

.oprationsBtnSection {
    width: 70%;
    margin: 0 auto;
    margin-top: 4rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.oprationsBtn {
    align-items: center;
    /* padding: 1rem 5.2rem; */
    padding: .6rem 2.5rem;
    border-radius: 2rem;
    margin: 0 3.2rem;
    font-size: 1.2rem;
    font-weight: lighter;
}

.oprationsBtn span {
    font-weight: 600;
}

.oprationsBtn--1 {
    background-color: var(--color-secondary-darker);
    border-color: transparent;
}

.oprationsBtn--2 {
    background-color: var(--color-primary-darker);
    border-color: transparent;
}

.oprationsBtn--3 {
    background-color: var(--color-tertiary-darker);
    border-color: transparent;
}

/***** OPERATIONS TEXT  *****/
.oprationsText {
    width: 65%;
    margin: 0 auto;
    display: flex;
    margin-top: 4.5rem;
}

.oprationTextIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
   /* background-color: #39b385; */
   margin-right: 1.5rem;
}

.oprationTextIcon svg {
    height: 5rem;
    display: flex;
    justify-content: end;
    /* fill: #39b385; */
}

.oprationTextIcon--1 svg{
    fill: var(--color-secondary-darker);
}

.oprationTextIcon--2 svg{
    fill: var(--color-primary-darker);
}

.oprationTextIcon--3 svg{
    fill: var(--color-tertiary-darker);
}

.oprationTextIcon svg use {
    border: 2px solid black;
}


/***** TESTIMONIALS *****/
.testimonials{
    width: 70%;
    margin: 0 auto;
}

.testimonials h1 {
    font-size: 1.2rem;
    color: #39b385;
}

.testimonials p {
    font-size: 3rem;
    line-height: normal;
}


/***** SLIDER *****/

.slider{
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
}

.testimonial::before {
content: '\201C';
position: absolute;
top: -5.7rem;
left: -6.8rem;
line-height: 1;
font-size: 20rem;
font-family: inherit;
color: var(--color-primary);
z-index: -1;
}

.testimonial h2{
    font-size: 1.5rem;
    font-weight: 500;
}


.testimonialText{
    font-size: 1rem;
    /* line-height: normal; */
}

.testimonialAuthor{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.testimonialPhoto{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.testimonialName{
    display: block;
   font-size: 1rem;
}

.testimonialLocation{
    display: block;
}

/***** FOOTER SECTION *****/

#section--4{
    background: #444;
    color: #f3f3f3;
}

.footerHeard{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    padding-top: 4.5rem;
}

.footerHeard h4{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: normal;
}

.footerBtn{
    background-color: var(--color-primary-darker);
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    border-radius: 35px;
    border: none;
    margin-bottom: 4rem;
}

.footerButtomBtn{
    width: 50%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.footerButtomBtn button{
    font-size: 1.2rem;
    background: none;
    border: none;
    color: #f3f3f3;

}

.footerImg{
    display: block;
    text-align: center;
    margin-top: 2rem;
    
}

.footerImg img{
    height: 5rem;
}

.footerCopyRight{
    padding-top: 2rem;
}

/***** OVERLAY *****/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.openAccount .btn--close-modal {
    font-size: 2.2rem;
    font-weight: 500;
    position: fixed;
    top: 0;
    right: 0.5rem;
    background: none;
 
    border-color: transparent;
}

.openAccount h1 {
    font-size: 2.7rem;
    line-height: 3.5rem;
}

.openAccount form {
    width: 80%;
    margin: 0 auto;
}

.openAccount form label {
    display: block;
    font-size: 1.2rem;
}

.openAccount form input {
    width: 80%;
    padding: 6px;
    margin-bottom: 15px;
}

.modal {
    margin-bottom: 30px;
    margin-left: 60px;
}